
.data-table {
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding: 1px;
  box-shadow: 0 0 0 1px $table-border;

  thead {
    background-color: $light-primary;
    border-radius: 5px 5px 0px 0px;
    font-size: 24px;
    color: $white;

    th {
      text-align: center;
      padding-right: 5px;
      text-wrap: nowrap;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: white;
      }
      &:nth-child(even) {
        background-color: #fafafa;
      }
    }
    td {
      text-align: center;
      padding: 12px 10px;
      font-size: 20px;
      color: $table-text;
      padding-right: 5px;
    }
  }
}
