@font-face {
  font-family: "droid";
  src: local("droid"),
    url("../../fonts/alfont_com_AlFont_com_Droid-Arabic-Kufi.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
