$primary: #e99a00;
$light-primary: #50b18e;
$secondary: #b49164;
$light-secondary: #d7b383;
$light-secondary-2: #d7b383ab;
$light: #c1c1c1;
$white: #ffffff;
$ternary: #e8ffed;
$lime: #099f611f;
$light-green: #0ab56e;
$black: #000000;
$dark: #373435;
$gray: #535050;
$gray-2: #f4f6f8;
$gray-3: #c3c5c7;
$light-gray: #f9f9f9;
$light-gray-2: #64696e;
$delete: #fc2222;
$table-border: #dedede;
$table-text: #8a8a8a;
$table-inside-border: #929292;
$nav-pills-link-active-bg: $primary;
$nav-link-color: $dark;
$link-hover-color: $primary;
// $primary-rgb: 40, 146, 79;

$responsive-breakPoint: 1400px;
$navbar-height: 77px;
