<div class="modal" [id]="modalId" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header flex justify-content-center mt-3">
        <img [src]="icon" alt="delete-item" />
      </div>
      <div class="modal-body flex justify-content-center">
        <p class="modal-title fw-bold text-secondary text-center">
          {{ title }}
        </p>
      </div>
      <div class="modal-footer flex gap-3 mb-5 mt-2">
        <ng-container *ngIf="modalType == 'confirm'">
          <button
            class="btn btn-secondary flex gap-2 items-center m-0"
            (click)="deleteBtnClicked.emit()"
          >
            <img src="img/icons/white-check-circle.svg" alt="" />
            <span>{{ confirmBtnTitle }}</span>
          </button>
          <button
            type="button"
            class="btn-cancel p-0 border-0 m-0"
            data-bs-dismiss="modal"
          >
            الغاء
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
