<div class="">
  <h4 class="text-secondary">
    يجب قراءة الشروط والأحكام الخاصة بالخدمة والموافقة عليها
  </h4>
  <div class="terms-content border border-black-1 mt-5 rounded-2 h-100">
    <ol class="mb-5">
      <li>
        <p>
          تلتزم الجهة المستخدمة للتصاريح بأخذ الإقرار الخطي على قائد المركبة
          التي تحمل التصريح بعدم استخدامها في نقل الحجاج والعمالة المخالفة.
        </p>
      </li>
      <li>
        <p>
          يلتزم الجهة المستخدمة بأخذ الإقرار الخطي على قائد المركبة بعدم نزع تلك
          التصاريح لاستخدامها في مركبات أخرى وعدم تسليمها لغير موظفيها.
        </p>
      </li>
      <li>
        <p>
          تتولى الجهة المستفيدة من التصاريح بتزويد وزارة الحج والعمرة (لجنة
          التصاريح) بتسجيل كافة التصاريح التي سيتم صرفها ويتضمن تحديد نوع
          المركبة المستفيدة من كل تصريح ورقم لوحتها.
        </p>
      </li>
      <li>
        <p>
          تتولى الجهة المستفيدة من التصاريح بالإشراف المباشر على لصق التصاريح
          للمركبة المستفيدة للرجوع لها عند الحاجة بحضور مندوب من النقابة العامة
          للسيارات.
        </p>
      </li>
      <li>
        <p>
          تسليم الجهات المعنية لدى المؤسسة التصاريح التي تم استلامها من وزارة
          الحج والعمرة والقيام بإرجاع ما تبقى من الفائض منها.
        </p>
      </li>
      <li>
        <p>
          في حال اتلاف أي تصريح اثناء التشغيل لاي سبب كان يتطلب تحرير محضر في
          حينه بحضور قائد المسار (الوزارة، النقابة، شركة تقديم الخدمة) وفي حال
          عدم تحرير محضر تتحمل الجهة المستفيدة من التصريح مسؤولية ما يترتب عليه.
        </p>
      </li>
    </ol>
    <div class="flex mt-3">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexSwitchCheckChecked"
        (change)="changeActivation($event)"
      />
      <label class="me-2" for="flexSwitchCheckChecked">
        <b>
          أتعهد بالالتزام بوضع التصاريح على المركبات التي تم من أجلها أخذ
          التصريح والاحتفاظ بجميع معلومات المركبات واتباع جميع الأنظمة
          والتعليمات أعلاه.
        </b>
      </label>
    </div>
  </div>

  <div class="flex gap-3 justify-end w-100 terms-submit-btn mt-4">
    <button
      type="button"
      class="btn btn-secondary flex gap-2 items-center m-0"
      [disabled]="!isAccept"
      (click)="confirmTermsAndconditions()"
    >
      <img src="img/icons/white-check-circle.svg" alt="" />
      <span>الموافقة على الشروط والمتابعة</span>
    </button>
  </div>
</div>
