form,
.form {
  // margin: 20px 0;
  .form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
  }
  .password-inpt-wrapper {
    position: relative;
    width: 100%;
    .show-password {
      &:focus,
      &:active,
      &:focus-visible {
        border: 0;
        outline: none;
      }
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .label-control {
    color: $dark;
    font-weight: bold;
    font-size: 22px;
    margin-inline-end: 15px;
    width: 150px;
    min-width: 150px;
    span {
      color: red;
    }
  }
  .form-control {
    border: 1px solid $light;
    border-radius: 5px;
    height: 45px;
    padding: 0 15px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    color: black;
    font-size: 18px;
    &::placeholder {
      color: $light;
      font-size: 14px;
    }
    &:focus {
      outline: none;
      border: 0;
      border: 1px solid $light-primary;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    }
    &.fileUpload {
      background-repeat: no-repeat;
      padding-inline-start: 40px;
      position: relative;
      z-index: 2;
      cursor: pointer;
      &.disabled {
        border-color: $primary;
        cursor: not-allowed;
        border-radius: 5px !important;
      }
      + label {
        position: absolute;
        top: 4px;
        border-radius: 4px;
      }
    }
    &.invalid,
    &.is-invalid-input,
    &.is-invalid,
    &.invalid-feedback {
      border: 1px solid red;
    }
    &:disabled,
    .disabled,
    &[disabled] {
      background: #e5f0e8;
      border-color: $primary;
      cursor: not-allowed;
    }
  }
  input[type="tel"] {
    padding-inline-start: 80px;
  }
  select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .invalid-feedback {
    display: block;
    color: red;
  }
}

.file-container {
  width: calc(100% - 165px);
}

.phone-code {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    width: 1px;
    height: 15px;
    background: $light;
    margin-inline-start: 5px;
  }
  img {
    margin-inline-end: 5px;
  }
  + input {
    padding-right: 80px !important;
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: left calc(0.375em + 0.1875rem) center !important;
}
.userActive {
  width: 100%;
  padding-left: 0;
  align-items: center;
  input {
    width: 31px;
    height: 18px;
    background-color: #fff;
    border-color: $light;
    background-position: right center !important;
    &:checked {
      background-color: #4053f9;
      border-color: #4053f9;
      background-position: left center !important;
    }
  }
  p {
    color: #4053f9;
    font-size: 22px;
    font-weight: 700;
    word-wrap: break-word;
    width: 100px;
    margin-bottom: 0;
  }
}

.checkbox {
  width: 100%;
  padding-left: 0;
  align-items: center;
  input {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-color: #aaaaaa;
    background-position: left center;
    border-radius: 5px;
    &:checked {
      background-color: #4053f9;
      border-color: #4053f9;
      background-position: right center;
    }
  }
  label {
    color: $gray;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
  }
}

.cms {
  .text-content {
    background: $ternary;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e8dbb6;
    label {
      color: $gray;
      font-size: 22px;
      font-weight: 700;
    }
    .NgxEditor__Wrapper {
      ul {
        li {
          list-style-type: disc !important;
        }
      }
      background-color: transparent;
      color: #989898;
      border: 1px #e8dbb6 dotted;
      height: 256px;
      border-radius: 5px;
      ngx-editor {
        height: 210px;
        overflow: auto;
      }
      .NgxEditor__Content {
        color: #989898;
      }
    }
  }
}
